version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: sonar-postgres
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonar
      POSTGRES_DB: sonar
    volumes:
      - sonar_db:/var/lib/postgresql/data
    networks:
      - ci-network

  sonarqube:
    image: sonarqube:community
    container_name: sonarqube
    depends_on:
      - postgres
    ports:
      - "9000:9000"
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://postgres:5432/sonar
      SONAR_JDBC_USERNAME: sonar
      SONAR_JDBC_PASSWORD: sonar
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_extensions:/opt/sonarqube/extensions
      - sonar_logs:/opt/sonarqube/logs
    networks:
      - ci-network
  ci-runner:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-ci-runner:latest
    container_name: ci-runner
    depends_on:
      - sonarqube
    environment:
      SONAR_HOST_URL: http://sonarqube:9000
      SONAR_TOKEN: sqa_9ca0456b1809f3199e79cc88086c353f92b594aa
    volumes:
      - ./workspaces:/workspaces
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - ci-network
    ports:
      - "8080:8080"

volumes:
  sonar_db:
  sonar_data:
  sonar_extensions:
  sonar_logs:

networks:
  ci-network:
    driver: bridge
